@{
    ViewBag.Title = "Confirmação pendente";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Confirmação pendente</h1>
        <p class="lead">Um email de confirmação foi enviado. Por favor, verifique o seu email.</p>
    </div>
</div>