@{
    ViewBag.Title = "Redefinição pendente";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Redefinição de senha pendente</h1>
        <p class="lead">Um email de redefinição de senha pendente foi enviado. Por favor, verifique o seu email.</p>
    </div>
</div>