@model LoginViewModel

@{
    ViewBag.Title = "Login";
}


<div class="card">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <form method="post">
            <div id="errors" asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div>
            <a asp-action="ForgotPassword">Esqueceu a senha?</a>
        </div>
    </div>
</div>