@{
    ViewBag.Title = "Criar transação";
}

<div class="card text-center">
    <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs" id="transactionsTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="revenue-tab" data-toggle="tab" href="#revenue" role="tab"
                   aria-controls="revenue" aria-selected="true">Receita</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="expenditure-tab" data-toggle="tab" href="#expenditure" role="tab"
                   aria-controls="expenditure" aria-selected="false">Despesa</a>
            </li>
        </ul>

    </div>
    <div class="card-body">
        <div class="tab-content">


            <div class="tab-pane" id="revenue" role="tabpanel" aria-labelledby="revenue-tab">
                <partial name="_RevenueForm" model="ViewBag.Revenue" />
            </div>

            <div class="tab-pane" id="expenditure" role="tabpanel" aria-labelledby="expenditure-tab">
                <partial name="_ExpenditureForm" model="ViewBag.Expenditure" />
            </div>

        </div>

    </div>
</div>

