@model ReportCreateViewModel

@{
    ViewBag.Title = "Criar relatório";
}

<form enctype="multipart/form-data" asp-controller="report" asp-action="create"
      method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Date" class="col-sm-2 col-form-label">Data</label>
        <div class="col-sm-10">
            <input asp-for="Date" class="form-control" placeholder="Data">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="PreacherId" class="col-sm-2 col-form-label">Pastor</label>
        <div class="col-sm-10">
            <select asp-for="PreacherId" class="custom-select mr-sm-2"
                    asp-items="@Model.AllMembers">
                <option value="0">Selecione um membro</option>
            </select>
            <span asp-validation-for="PreacherId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="CoordinatorId" class="col-sm-2 col-form-label">Coordenador</label>
        <div class="col-sm-10">
            <select asp-for="CoordinatorId" class="custom-select mr-sm-2"
                    asp-items="@Model.AllMembers">
                <option value="0">Selecione um membro</option>
            </select>
            <span asp-validation-for="CoordinatorId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Reunions" class="col-sm-2 col-form-label">N° de reuniões no mês</label>
        <div class="col-sm-10">
            <input asp-for="Reunions" class="form-control" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Convertions" class="col-sm-2 col-form-label">N° de conversões a Jesus</label>
        <div class="col-sm-10">
            <input asp-for="Convertions" class="form-control" placeholder="Número">
            <span asp-validation-for="Convertions" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Bibles" class="col-sm-2 col-form-label">Número de Bíblias</label>
        <div class="col-sm-10">
            <input asp-for="Bibles" class="form-control" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ReunionWithTeachers" class="col-sm-2 col-form-label">N° de reuniões com os docentes</label>
        <div class="col-sm-10">
            <input asp-for="ReunionWithTeachers" class="form-control" disabled>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Visitors" class="col-sm-2 col-form-label">N° de visitantes</label>
        <div class="col-sm-10">
            <input asp-for="Visitors" class="form-control" placeholder="Visitantes">
            <span asp-validation-for="Visitors" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="PeoplePresent" class="col-sm-2 col-form-label">N° total de presentes</label>
        <div class="col-sm-10">
            <input asp-for="PeoplePresent" class="form-control" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="PedagogicalBody" class="col-sm-2 col-form-label">N° de membros do Corpo Pedagógico</label>
        <div class="col-sm-10">
            <input asp-for="PedagogicalBody" class="form-control" placeholder="Número">
            <span asp-validation-for="PedagogicalBody" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="PreviousMonth" class="col-sm-2 col-form-label">Saldo do mês anterior</label>
        <div class="input-group col-sm-10">
            <input asp-for="PreviousMonth" class="form-control" disabled />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Income" class="col-sm-2 col-form-label">Receita</label>
        <div class="input-group col-sm-10">
            <input asp-for="Income" class="form-control" disabled />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Expense" class="col-sm-2 col-form-label">Despesa</label>
        <div class="input-group col-sm-10">
            <input asp-for="Expense" class="form-control" disabled />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Tenth" class="col-sm-2 col-form-label">Dízimo</label>
        <div class="input-group col-sm-10">
            <input asp-for="Tenth" class="form-control" disabled />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Balance" class="col-sm-2 col-form-label">Saldo para o próximo mês</label>
        <div class="input-group col-sm-10">
            <input asp-for="Balance" class="form-control" disabled />
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Criar</button>
            <a asp-controller="report" asp-action="list" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>

</form>

