@{
    ViewBag.Title = "Criar relatório";
}


<div class="card text-center">
    <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs" id="eventsTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="cult-tab" data-toggle="tab" href="#children" role="tab"
                   aria-controls="children" aria-selected="true">Crianças</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="young-tab" data-toggle="tab" href="#Young" role="tab"
                   aria-controls="young" aria-selected="false">Jovens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="women-tab" data-toggle="tab" href="#women" role="tab"
                   aria-controls="women" aria-selected="false">Mulheres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="men-tab" data-toggle="tab" href="#men" role="tab"
                   aria-controls="men" aria-selected="false">Homens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cell-tab" data-toggle="tab" href="#cell" role="tab"
                   aria-controls="cell" aria-selected="false">Escola Bíblica</a>
            </li>
        </ul>

    </div>
    <div class="card-body">
        <div class="tab-content">

            <div class="tab-pane active" id="children" role="tabpanel" aria-labelledby="children-tab">
                <partial name="_ChildrenForm" />
            </div>

            <div class="tab-pane" id="young" role="tabpanel" aria-labelledby="young-tab">
                <partial name="_YoungForm" />
            </div>

            <div class="tab-pane" id="women" role="tabpanel" aria-labelledby="women-tab">
                <partial name="_WomenForm" />
            </div>

            
        </div>

    </div>
</div>


