@model CreateReunionViewModel


    <form enctype="multipart/form-data" asp-controller="event" asp-action="CreateReunion" method="post" class="mt-3">

        <div class="form-group row">
            <label asp-for="Date" class="col-sm-2 col-form-label">Data</label>
            <div class="col-sm-10">
                <input asp-for="Date" class="form-control">
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        

        <div class="form-group row">
            <label asp-for="Topic" class="col-sm-2 col-form-label">Tópico</label>
            <div class="col-sm-10">
                <input asp-for="Topic" class="form-control" placeholder="Tópico">
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="EndTime" class="col-sm-2 col-form-label">Horário de término</label>
            <div class="col-sm-10">
                <input asp-for="EndTime" class="form-control">
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Type" class="col-sm-2 col-form-label">Tipo</label>
            <div class="col-sm-10">
                <select asp-for="Type" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<ReunionType>()">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="TeacherId" class="col-sm-2 col-form-label">Orador</label>
            <div class="col-sm-10">
                <select asp-for="TeacherId" class="custom-select mr-sm-2"
                        asp-items="@Model.AllMembers">
                    <option value="0">Selecione um membro</option>
                </select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">

            <label asp-for="SelectedMembers" class="col-sm-2 col-form-label">Membros presentes</label>
            <div class="col-sm-10">

                <select asp-for="SelectedMembers" class="custom-select mr-sm-2"
                        asp-items="@Model.AllMembers">
                    <option value="0">Selecione os membros</option>
                </select>
                <span asp-validation-for="SelectedMembers" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Criar</button>
                <a asp-controller="event" asp-action="list" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </form>
