<ul class="nav nav-tabs" id="eventsTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="cult-tab" data-toggle="tab" href="#cult" role="tab"
           aria-controls="cult" aria-selected="true">Culto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="reunion-tab" data-toggle="tab" href="#reunion" role="tab"
           aria-controls="reunion" aria-selected="false">Reunião</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="school-sunday-tab" data-toggle="tab" href="#school-sunday" role="tab"
           aria-controls="school-sunday" aria-selected="false">Escola Dominical</a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="cult" role="tabpanel" aria-labelledby="cult-tab">
        <partial name="_CultForm" />
    </div>
    <div class="tab-pane" id="reunion" role="tabpanel" aria-labelledby="reunion-tab">
        <partial name="_ReunionForm" model="ViewBag.reunionViewModel" />
    </div>

    <div class="tab-pane" id="school-sunday" role="tabpanel" aria-labelledby="school-sunday-tab">
        <partial name="_SundaySchoolForm" model="ViewBag.schoolViewModel"/>
    </div>

</div>

@section Scripts{
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
}