@{
    ViewBag.Title = "Criar evento";
}

<div class="card text-center">
    <div class="card-header">
        
        <ul class="nav nav-tabs card-header-tabs" id="eventsTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="cult-tab" data-toggle="tab" href="#cult" role="tab"
                   aria-controls="cult" aria-selected="true">Culto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reunion-tab" data-toggle="tab" href="#reunion" role="tab"
                   aria-controls="reunion" aria-selected="false">Reunião</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="school-sunday-tab" data-toggle="tab" href="#school-sunday" role="tab"
                   aria-controls="school-sunday" aria-selected="false">Escola Dominical</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="school-sunday-tab" data-toggle="tab" href="#baptism" role="tab"
                   aria-controls="baptism" aria-selected="false">Batismo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cell-tab" data-toggle="tab" href="#cell" role="tab"
                   aria-controls="cell" aria-selected="false">Célula</a>
            </li>
        </ul>

    </div>
    <div class="card-body">
        <div class="tab-content">

            <div class="tab-pane active" id="cult" role="tabpanel" aria-labelledby="cult-tab">
                <partial name="_CultForm" />
            </div>

            <div class="tab-pane" id="reunion" role="tabpanel" aria-labelledby="reunion-tab">
                <partial name="_ReunionForm" model="ViewBag.reunionViewModel" />
            </div>

            <div class="tab-pane" id="school-sunday" role="tabpanel" aria-labelledby="school-sunday-tab">
                <partial name="_SundaySchoolForm" model="ViewBag.schoolViewModel" />
            </div>

            <div class="tab-pane" id="baptism" role="tabpanel" aria-labelledby="baptism-tab">
                <partial name="_BaptismForm" model="ViewBag.BaptismViewModel" />
            </div>

            <div class="tab-pane" id="cell" role="tabpanel" aria-labelledby="cell-tab">
                <partial name="_CellForm" />
            </div>
        </div>

    </div>
</div>

