@model CultDetailViewModel

@{
    ViewBag.Title = Model.PageTitle;
    var culture = new System.Globalization.CultureInfo("pt-BR");
}

<div class="card">
    <div class="card-header">
        <div class="col-md-8">
            <h4>@Model.PageTitle</h4>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">Data: @Model.Cult.Date.ToString("D", culture)</p>
        <p class="card-text">Número de pessoas: @Model.Cult.NumberOfPeople</p>
        <p class="card-text">Vésiculo: @Model.Cult.MainVerse</p>
    </div>
</div>
