@model EditReunionViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<form enctype="multipart/form-data" asp-controller="event" asp-action="EditReunion" method="post" class="mt-3">
    <input hidden asp-for="Id" />

    <div class="form-group row">
        <label asp-for="Date" class="col-sm-2 col-form-label">Data</label>
        <div class="col-sm-10">
            <input asp-for="Date" class="form-control" placeholder="Data">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="EndTime" class="col-sm-2 col-form-label">Data</label>
        <div class="col-sm-10">
            <input asp-for="EndTime" class="form-control" placeholder="Data">
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Topic" class="col-sm-2 col-form-label">Versículo usado</label>
        <div class="col-sm-10">
            <input asp-for="Topic" class="form-control" placeholder="Versículo">
            <span asp-validation-for="Topic" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Type" class="col-sm-2 col-form-label">Tipo</label>
        <div class="col-sm-10">
            <select asp-for="Type" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<ReunionType>()">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="TeacherId" class="col-sm-2 col-form-label">Professor</label>
        <div class="col-sm-10">
            <select asp-for="TeacherId" class="custom-select mr-sm-2"
                    asp-items="@Model.AllMembers">
                <option value="0">Selecione um membro</option>
            </select>
            <span asp-validation-for="TeacherId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Savlar</button>
            <a asp-controller="event" asp-action="list" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>

    <div class="cars">
        <div class="card-header">
            <h4>Membros pesentes</h4>
        </div>
        <div class="card-body">
            @if (Model.PresentMembers.Any())
            {
                foreach (var member in Model.PresentMembers)
                {
                    <h6 class="card-title">@member.Name</h6>
                }
            }
            else
            {
                <h6 class="card-title">Nenhum membro no momento.</h6>
            }
        </div>
        <div class="card-footer">
            <a asp-action="EditMembersInEvent" asp-controller="event" asp-route-eventId="@Model.Id"
               class="btn btn-primary" style="width:auto">
                Adicionar ou remover membros
            </a>

        </div>
    </div>
</form>

