@model IEnumerable<Member>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Cargo</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var member in Model)
                    {
                        <tr>
                            <td>@member.Name</td>
                            <td>@member.Phone</td>
                            <td>@member.Position</td>
                            <td>

                                <div class="btn-group">
                                    <a asp-controller="member" asp-action="edit" asp-route-id="@member.Id"
                                       class="btn btn-primary">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                                    </a>

                                </div>

                            </td>
                        </tr>

                    }


                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h4>Gerenciar membros</h4>
            <ul class="list-group">
                <li class="list-group-item">
                        <a asp-controller="member" asp-action="create" class="btn btn-primary">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>Adicionar membro</span>
                        </a>            

                </li>
                <li class="list-group-item">
                    <a asp-controller="member" asp-action="search" class="btn btn-primary">
                        <i class="glyphicon glyphicon glyphicon-search"></i>
                        <span>Buscar membro</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
