@if (ViewBag.ErrorTitle == null)
{
    <h3>
        Um error ocerreu durante o processando da sua requisição.
    </h3>
    <div class="alert alert-danger">
        <h5>Exception Message</h5>
        <hr />
        <p>@ViewBag.ErrorMessage</p>
    </div>

}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>

    <div class="alert alert-danger">
        <h5>Exception Message</h5>
        <hr />
        <p>@ViewBag.ErrorMessage</p>
    </div>
}

