@if (ViewBag.ErrorTitle == null)
{
    <div class="jumbotron">
        <h1 class="display-4">Um error ocerreu durante o processando da sua requisição.</h1>
        <p class="lead">@ViewBag.ErrorMessage</p>
        <hr class="my-4">
        <a asp-action="list" asp-controller="member" class="btn btn-outline-success">
            Voltar à página principal.
        </a>
    </div>

}
else
{
    <div class="jumbotron">
        <h1 class="display-4">@ViewBag.ErrorTitle</h1>
        <p class="lead">@ViewBag.ErrorMessage</p>
        <hr class="my-4">
        <a asp-action="list" asp-controller="member" class="btn btn-outline-success">
            Voltar à página principal.
        </a>
    </div>
}

